body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #006491;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.406);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
 
}



/*navvbarr*/
.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 1.25rem;
  background-color: #006491;
}

.left-section {
  display: flex;
  align-items: center;
  margin-left: 20%;
}

.logo img {
  width: 3rem;
  height: auto;
  margin-right: 1.25rem;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav ul li {
  padding: 0.6rem 0.3rem;
  margin: 0 0.9rem;
}

nav ul li:hover {
  background-color: #012f44;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
}

.user-actions {
  display: flex;
  align-items: center;
  margin-left: 4%;
  flex: 1;
}

.user-actions a {
  color: white;
  text-decoration: none;
  margin-left: 1.3rem;
  font-weight: bold;
  font-size: 1rem;
}

.user-actions .cart-count {
  background-color: red;
  border-radius: 50%;
  padding: 0.12rem 0.3rem;
  margin-left: 0.1rem;
  font-size: 0.8rem;
}




/*Order*/
.order-container {
  text-align: center;
  color: #006491;
  align-items: center;
  margin-top: 7%;
  margin-left: 9%;
}

.order-header {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
  margin-right: 10%;
  font-family: One Dot Condensed Bold, Arial Narrow, Arial, Helvetica,
    sans-serif;
  font-weight: 800;
}

.button-container {
  display: inline-block;
  margin: 10px 0;
}

.order-button {
  background-color: #ff0000;
  color: rgb(255, 255, 255);
  border: none;
  padding: 15px 20px;
  font-size: 16px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 5px;
  font-family: One Dot Condensed Bold, Arial Narrow, Arial, Helvetica,
    sans-serif;
  font-weight: 850;
}

.order-button:hover {
  background-color: #860303;
}

.or {
  color: #666;
  font-size: 16px;
  vertical-align: middle;
}

.pics-table {
  margin-left: 19%;
  margin-bottom: 5%;
}


/* footer*/

.footer-container {
  background-color: #e0e0e0;
  padding: 2rem 10%;
  font-size: 0.9rem;
  color: #333;
}

.footer-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 2.5rem 0;
  text-align: center;
}

.footer-links a {
  color: #4a4a4a;
  text-decoration: none;
  font-weight: bold;
  margin: 0;
}

.footer-next {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 2rem 0;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 0.2rem;
  align-items: center;
}

.footer-icons .icon {
  color: #0078ae;
  font-size: 1.5rem;
  cursor: pointer;
}

.footer-icons .icon:hover {
  color: #b30000;
}

.footer-halal {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin: 1rem 0;
}

.footer-halal img {
  width: 9rem;
  height: 5rem;
}

.footer-apps {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  align-items: center;
  margin: 1rem 0;
}

.footer-apps a {
  display: inline-block;
}

.footer-apps img {
  width: 9rem;
  height: 2.5rem;
  display: block;
}

.footer-text {
  margin-top: 1.5rem;
  color: #666;
  text-align: center;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.footer-text p {
  text-align: center;
  font-weight: bold;
  margin-top: 1.5rem;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}


/* page orderonline*/

.body2 {
  margin-top: 5%;
  margin-bottom: 15%;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  display: flex;
  justify-content: left;
  align-items: left;
}

.online {
  margin-top: 3%;
  margin-left: 20%;
  font-size: 28px;
  font-weight: 800;
  color: #333;
}
.box {
  margin-right: 115px;
  margin-left: -525px;
  text-align: left;
}

.selection-box {
  display: flex;
  justify-content: left;
  align-items: center;
  border-top: 15px solid #006491;
  padding: 20px;
  background-color: #ffffff;
  margin-top: 30%;
  width: 150%;
}

.option {
  margin: 0 20px;
  text-align: center;
}

.option i {
  font-size: 48px;
  color: white;
  background-color: #006491;
  padding: 20px;
  border-radius: 50%;
}

.option p {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.or1 {
  font-size: 18px;
  color: #333;
  margin: 0 20px;
}
