body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 1rem; /* Base font size of 16px */
}

header {
  background-color: #006491;
  color: white;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.406);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 1.25rem;
  background-color: #006491;
}

.left-section {
  display: flex;
  align-items: center;
  margin-left: 20%;
}

.logo img {
  width: 3rem;
  height: auto;
  margin-right: 1.25rem;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav ul li {
  padding: 0.6rem 0.3rem;
  margin: 0 0.9rem;
}

nav ul li:hover {
  background-color: #012f44;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
}

.user-actions {
  display: flex;
  align-items: center;
  margin-left: 4%;
  flex: 1;
}

.user-actions a {
  color: white;
  text-decoration: none;
  margin-left: 1.3rem;
  font-weight: bold;
  font-size: 1rem;
}

.user-actions .cart-count {
  background-color: red;
  border-radius: 50%;
  padding: 0.12rem 0.3rem;
  margin-left: 0.1rem;
  font-size: 0.8rem;
}

.bottom-nav {
  background-color: #f4f4f4;
  padding: 0.6rem 1.25rem;
  text-align: center;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.406);
}

.bottom-nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.bottom-nav ul li {
  margin: 0 1rem;
}

.bottom-nav ul li a {
  color: #006491;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.9rem;
}

.order-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #006491;
  color: white;
  padding: 1rem 1.5rem;
  width: 47rem;
  height: auto;
  border-radius: 1rem;
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
}

.order-title {
  font-size: 1.5rem;
  font-weight: 850;
  margin-right: 1rem;
}

.order-buttons {
  display: flex;
  align-items: center;
}

.order-buttons button {
  background-color: rgb(220, 66, 66);
  color: white;
  border: none;
  padding: 0.75rem 2.5rem;
  margin: 0 0.5rem;
  font-size: 0.875rem;
  cursor: pointer;
  border-radius: 0.4rem;
  font-weight: 850;
  font-family: One Dot Condensed Bold, Arial Narrow, Arial, Helvetica,
    sans-serif;
}

.order-buttons button:hover {
  background-color: #970202;
}

.order-buttons span {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  margin: 0 0.5rem;
  font-family: One Dot Condensed Bold, Arial Narrow, Arial, Helvetica,
    sans-serif;
  font-style: italic;
}

.menu-container {
  max-width: 50rem;
  margin: 1.25rem auto;
  background-color: white;
  padding: 1.25rem;
  border-radius: 0.5rem;
}

.menu-container h1 {
  color: #333;
  font-size: 2rem;
  font-weight: 850;
  line-height: 1;
}

.menu-container p {
  color: #0078ae;
  font-size: 0.9rem;
}

.menu-container a {
  text-decoration: none;
  color: #0078ae;
  font-weight: bold;
  font-family: One Dot Condensed Bold, Arial Narrow, Arial, Helvetica,
    sans-serif;
}

.menu-container .menu-item {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  margin-bottom: 0.6rem;
  background-color: #fff;
  border-radius: 0.25rem;
}

.menu-container .menu-item img {
  width: 8rem;
  height: 4rem;
  margin-right: 2.5rem;
  border-radius: 0.25rem;
}

.menu-container .menu-item a {
  font-size: 1.1rem;
  color: #0e4f93;
  font-family: One Dot Condensed Bold, Arial Narrow, Arial, Helvetica,
    sans-serif;
}

.menu-container .menu-item:hover {
  background-color: #0072a5;
}

.menu-container .menu-item a:hover {
  color: #fff;
}
.footer-container {
  background-color: #e0e0e0;
  padding: 2rem 10%;
  font-size: 0.9rem;
  color: #333;
}

.footer-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 2.5rem 0;
  text-align: center;
}

.footer-links a {
  color: #4a4a4a;
  text-decoration: none;
  font-weight: bold;
  margin: 0;
}

.footer-next {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 2rem 0;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 0.2rem;
  align-items: center;
}

.footer-icons .icon {
  color: #0078ae;
  font-size: 1.5rem;
  cursor: pointer;
}

.footer-icons .icon:hover {
  color: #b30000;
}

.footer-halal {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin: 1rem 0;
}

.footer-halal img {
  width: 9rem;
  height: 5rem;
}

.footer-apps {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  align-items: center;
  margin: 1rem 0;
}

.footer-apps a {
  display: inline-block;
}

.footer-apps img {
  width: 9rem;
  height: 2.5rem;
  display: block;
}

.footer-text {
  margin-top: 1.5rem;
  color: #666;
  text-align: center;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.footer-text p {
  text-align: center;
  font-weight: bold;
  margin-top: 1.5rem;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.offers-container {
  max-width: 44rem;
  margin: 0 auto;
  margin-top: 9%;
  margin-bottom: 3%;
  padding: 1.25rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  font-family: One Dot Condensed Bold, Arial Narrow, Arial, Helvetica,
    sans-serif;
  font-weight: 850;
  color: #fff;
}

.offers-container h1 {
  font-size: 1.5rem;
  color: #006491;
  margin-bottom: 1.25rem;
  text-align: center;
  font-weight: 850;
}

.offer-code-section,
.national-offers-section,
.local-offers-section {
  margin-bottom: 2rem;
}

.offer-code-section h2,
.national-offers-section h2,
.local-offers-section h2 {
  background-color: #006491;
  color: white;
  padding: 0.6rem;
  margin: 0;
  border-radius: 0.3rem;
  letter-spacing: 0.02em;
  font-weight: 850;
}

.offer-code-input {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://cache.dominos.com/olo/6.140.3/assets/build/images/bkg/bkg-cardboard.jpg");
  padding: 0.9rem;
  border: 0.2rem solid #0078ae;
  border-radius: 0.3rem;
  margin-top: 0.6rem;
}

.offer-code-input input {
  padding: 0.6rem;
  border: 0.06rem solid #ccc;
  border-radius: 0.3rem;
  width: 70%;
}

.offer-code-input button {
  margin-left: 0.9rem;
  padding: 0.6rem 1.25rem;
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  font-weight: 850;
}

.offer-code-input button:hover {
  background-color: #980303;
}

.offer-banner {
  position: relative;
  margin: 1.25rem 0;
}

.offer-banner img {
  width: 100%;
  border-radius: 0.25rem;
}

.local-offers-section p {
  margin: 1.25rem 0;
  padding: 0.9rem 0.9rem 5rem 0.9rem;
  border-radius: 0.25rem;
  border: 0.06rem solid #ccc;
  background: url("https://cache.dominos.com/olo/6.140.3/assets/build/images/bkg/bkg-cardboard.jpg");
  padding: 0.9rem;
  border: 0.2rem solid #0078ae;
  border-radius: 0.3rem;
  color: #006491;
  font-weight: 700;
}

.local-offers-section button {
  background-color: #ff0000;
  color: white;
  padding: 0.6rem 1.25rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-weight: 850;
  margin-left: auto;
  margin-right: 0;
  display: block;
  width: fit-content;
}

.local-offers-section button:hover {
  background-color: #970202;
}
